@font-face {
  font-family: 'mortalkombat3';
  src: url('fonts/mortalkombat3.ttf') format('truetype');
  /* Add additional font formats as needed */
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even){background-color: #f2f2f2}

  #htmlBody {
    background-color: darkred;
  }

  .buttonNotation{
    font-family: 'mortalkombat3';
    color:white;
  }

  .stanceContainer {
    width: 100%;
    text-align: center;
  }

  .tableDiv table {
    background-color: yellow;
    margin: 0 auto;
  }